html {
	background-color: #d400a0;
}

h1 {
	text-align: center;
	font-size: 10rem;
	padding-top: 10%;

}

body {
	background-image: url(Pictures/pasta.png);
	background-repeat: no-repeat; 
	font-family: 'Montserrat', sans-serif;
	color: #fdeefa;

}